@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background: white !important;
  }
  button, select, input, textarea {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Helvetica Neue", Arial, sans-serif;
  word-break: auto-phrase;
}
